n8n.subdomínio.com {
    # HTTPS automático! Nada para configurar!
    
    handle_path /grafana* {
        reverse_proxy grafana:3000
    }
    
    handle_path /whatsapp* {
        reverse_proxy waha:3000 {
            header_up X-Forwarded-Prefix /whatsapp
        }
    }
    
    handle_path /redis* {
        reverse_proxy redis-stack:8001
    }
}