# waha.services.subdomínio.com {
    
#     reverse_proxy waha:3000

#     header {
#         Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
#         X-Content-Type-Options "nosniff"
#         X-Frame-Options "DENY"
#         Referrer-Policy "no-referrer-when-downgrade"
#         X-XSS-Protection "1; mode=block"
#     }

#     encode gzip zstd

# }

evolution.services.subdomínio.com {

    reverse_proxy evolution-api:8080

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        X-XSS-Protection "1; mode=block"
    }

    encode gzip zstd

}

grafana.services.subdomínio.com {
        reverse_proxy grafana:3000
}

prometheus.services.subdomínio.com {
    reverse_proxy prometheus:9090

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        X-XSS-Protection "1; mode=block"
    }

    encode gzip zstd
}

redis.services.subdomínio.com {
    encode gzip zstd

    reverse_proxy redis:8001 {
        header_up Host {host}
        header_up X-Real-IP {remote_ip}
        header_up X-Forwarded-For {remote_ip}
        header_up X-Forwarded-Proto {scheme}
    }
}